// Colors
// - Dark Blue (Dark Mode Elements): hsl(209, 23%, 22%)
// - Very Dark Blue (Dark Mode Background): hsl(207, 26%, 17%)
// - Very Dark Blue (Light Mode Text): hsl(200, 15%, 8%)
// - Dark Gray (Light Mode Input): hsl(0, 0%, 52%)
// - Very Light Gray (Light Mode Background): hsl(0, 0%, 98%)
// - White (Dark Mode Text & Light Mode Elements): hsl(0, 0%, 100%)

$dark: hsl(209, 23%, 22%);
$darkBg: hsl(207, 26%, 17%);
$darkText: hsl(0, 0%, 100%);

$light: hsl(0, 0%, 98%);
$lightText: hsl(200, 15%, 8%);
$input: hsl(0, 0%, 52%);

// Typography
$baseFont: 'Nunito Sans', sans-serif;

// - Homepage Items: 14px
// - Detail Page: 16px
$cardSize: 1.4rem;
$countrySize: 1.6rem;

$lsWeight: 300;
$mdWeight: 600;
$lgWeight: 800;

// Misc
$borderRadius: 0.5rem;
$boxShadow: 0 5px 15px rgba(0, 0, 0, 0.3);
